<div class="card border-0" style="width: 18rem;">
    <div class="d-flex justify-content-center">
        <img class="card-img-top rounded-circle w-75" src="https://media-exp1.licdn.com/dms/image/C4D03AQG9S7SCTMsXqQ/profile-displayphoto-shrink_200_200/0?e=1603929600&v=beta&t=l1PM9WnfxReXte-OJ1kNu3UPoj-wShb48dA5Z3RSpg0" alt="Imagem de capa do card">
    </div>
    
    <div class="card-body">
      <h5 class="card-title text-center text-monospace">Paula Nocetti</h5>
      <p class="card-text text-center text-monospace">Desenvolvedora Web Java Jr.</p>

      <a href="https://www.linkedin.com/in/paula-nocetti/" class="btn btn-outline-info mb-3 d-flex justify-content-center" target="_blank">LinkedIn</a>

      <a href="https://github.com/nocettipaula" class="btn btn-outline-dark d-flex justify-content-center" target="_blank">GitHub</a>


    </div>
  </div>